/* Note: all formatting methods that do no have a specified reference were modified from https://www.w3schools.com/css, from 
the book HTML & CSS design and build websites by Jon Duckett and Fleming College lectures hosted by Shawn Morgan. These 
three sources were used to determine proper CSS formatting methods and were customized to match my websites theme */

/*Design note: The inspiration for the baseline formatting with the images bleeding to the top, right or left and bottom of the
coloured text box is from my previous style while make power point presentations and was not inspired by other web pages. Areas that 
were inspired by other webpages all have links indicating the inspiration. */

/* the body of the resume */

body{
	margin:0;
	padding:0;
}

/* Format the navigation bar for all pages */
li.navigationhome{
	display: inline; /* change list from vertical to horizontal */
	margin-left: 40px;
	position: absolute;
	top: 10%;
    right: 36.2%;
    font-size: 1.5vw; 
    font-family: Arial, sans-serif; 
    font-weight:bold;
}

li.navigationresume{
	display: inline; /* change list from vertical to horizontal */
	margin-left: 40px;
	position: absolute;
	top: 10%;
    right: 26%;
    font-size: 1.5vw; 
    font-family: Arial, sans-serif; 
    font-weight:bold;
}

li.navigationportfolio{
	display: inline; /* change list from vertical to horizontal */
	margin-left: 40px;
	position: absolute;
	top: 10%;
    right: 15%;
    font-size: 1.5vw; 
    font-family: Arial, sans-serif; 
    font-weight:bold;
	
}

a{
	text-decoration:none;
	color: #8D94A3;
		/*color: #AAB3C5;   color: #BAC2D3;*/
}

.nav{
	background-color:#D9E0ED;
	text-align:center;

}

.navbar{
	margin:0px;
	padding-bottom: 5px;
	text-align: right;
}

/* Make navigation bar text colour change when cursor hovers */
a:hover {
	color:#BAC2D3;
}

.sectionbox{
	background-color: #D3E3FC; /* background colour will be changed when colours are chosen */
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 5%;
	padding-top: 5%;
	
}

.sectionboxone{
	display: flex; /* make it so the text boxes can stack if screen is smaller */
	flex-direction: row;
	background-color: white;
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 5%;
	padding-top: 0.2%;
	
}


/* for other pages the quote box will be swapped for images that will be contained in the section boxes */
.quotebox{
	padding-right: 5%;
	padding-left: 2%;
	padding-top: 10px;/*
	padding-bottom: 5%;	/* quote box has different padding levels to make it left justified from center */
	flex: 35%;
	font-size: 20px; 
	font-family: Arial, sans-serif; 
	color: gray;
	line-height: 155%;


} 
/* Paragraph/div formmating for the main page */
.paragraphboxmain{
	position: absolute;
	top: 60%;
        left: 15%;
	padding: 10px;
	flex: 65%;
	font-size: 20px; 
	font-family: Arial, sans-serif; 
	color: gray;
	line-height: 155%; /* add spaces between rows of text for readability */
}

/* Paragraph/div formmating for the resume page */

.paragraphbox{
	padding: 10px;
	flex: 65%;
	font-size: 20px; 
	font-family: Arial, sans-serif; 
	color: gray;
	line-height: 155%; /* add spaces between rows of text for readability */
	background-color:#F4F5F6;
}

h1 { /* Supporting Heading - Centered */
	color: #272343; 
	font-size: 35px;
	margin:0px;
	padding-top:2%;	
	font-family: Georgia, serif; 
	font-weight:normal;
	letter-spacing: 0.05em
}



h2 { /* Supporting Heading - Centered */
	font-size: 24px;
	margin:0px;
	padding-top:2%;	
	font-family: Georgia, serif; 
	font-weight:normal;
	letter-spacing: 0.05em

}

.resumeheader{
	position:relative;
	text-align:center;
	padding:0%;
}

.resumepic{
	width:100%;
	filter:grayscale(50%);
	/*opacity:0.3;*/
}

.centeredtext {
  position: absolute;
  top: 10%;
  left: 16.5%;
  font-size: 1.5vw; 
  font-family: Arial, sans-serif; 
  font-weight:bold;
  color: #8D94A3;
}

.centeredtextlarge {
  position: absolute;
  top: 35%;
  left: 16.5%;
  font-size: 4vw; 
  font-family: Georgia, serif; 
  font-weight:bold;
  letter-spacing: 0.05em;
    color: white;

}

.sectionboxtwoteam{
	display: flex;
	flex-direction: row;
	background-color: #F4F5F6; 
	padding: 5%;

	
}

.quoteboxteam{
	padding: 3px; /* quote box has different padding levels to make it left justified from center */
	flex: 25%;

}


.paragraphboxteam{
	padding-left: 2%;
	padding-right: 2%;
	flex: 75%;
	font-size: 20px; 
	font-family: Verdana, sans-serif; 
	color: gray;
	line-height: 155%; /* add spaces between rows of text for readability */
}


@media (max-width: 1400px){ /*Responsive */
	.sectionboxoneteam, .sectionboxtwoteam{
		flex-direction: column;
	}

}

/* Add space on the Past Projects page between the projects boxes */
.padpast{
	background-color: white; /* background colour will be changed when colours are chosen */
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom:5%;
}

@media (max-width: 1000px){
	.sectionboxone, .sectionboxtwo{
		flex-direction: column;
	}
	
.pastprojects{
  border: 4px solid #0f4754
}
